@model DogGo.Models.Walk

@{
    ViewData["Title"] = "Create Walk";
}


<body>

<h4>Walk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DogId" class="control-label">Dogs</label>
                <select asp-for="DogId" class ="form-control" asp-items="ViewBag.DogId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WalkerId" class="control-label">Walker</label>
                <select asp-for="WalkerId" class ="form-control" asp-items="ViewBag.WalkerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" min="0" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
